    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          <div class="col-lg-6 video-box">
            <img src="images/about.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

            <div class="section-title">
              <h2>Sobre Nosotros</h2>
              <p>Somos una empresa familiar con más de 15 años trabajando para ofrecerte los mejores productos de bisutería, sedería, escolares y mucho más.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Misión</a></h4>
              <p class="description">Desarrollar un canal fuerte de ventas por medio de nuestra Tienda Virtual, con los mejores productos y de calidad, en la que encontrarás nuestro apoyo y la solución, de una manera fácil, cómoda y segura.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Visión</a></h4>
              <p class="description">Satisfacer las necesidades de compra para gustos femeninos, a través de bienes de excelencia, originalidad y calidad.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->