  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>QUIÉNES SOMOS</h4>
            <p>
              Somos una empresa con más de 15 años trabajando para ofrecerte los mejores productos de bisutería, sedería, escolares y mucho más. 
            </p>
            <div class="social-links mt-3">
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nuestras colecciones</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Bodas</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Manualidades</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Accesorios</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>TÉRMINOS Y CONDICIONES</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Política de Cookies</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Políticas de Cancelación y de Reembolso</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Política de Privacidad</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Políticas de Servicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Políticas de Redes Sociales</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Términos y Condiciones</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>DIRECCIÓN</h4>
             <i class="fa fa-map"></i> <span>3415 El Cangrejo, Ave B. Panama, Panama</span><br/>
             <i class="fa fa-phone"></i><span>(+507) 5555 - 5555</span><br/>
               <i class="fa fa-envelope"></i><span><a>info@vielycksdetails.com</a></span>
          </div>

        </div>
      </div>
    </div>

    <div class="container copy">
      <div class="copyright">
       <strong><span>&copy;2020. Todos los derechos reservados a Vielyck's Details</span></strong>.
      </div>
    </div>
  </footer><!-- End Footer -->