<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{ title }}</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  {{!-- <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> --}}

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;469;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="/stylesheets/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/vendor/icofont.min.css">
  <link rel="stylesheet" href="/stylesheets/vendor/boxicons.min.css">
  <link rel="stylesheet" href="/stylesheets/vendor/animate.min.css">
  <link rel="stylesheet" href="/stylesheets/vendor/venobox.css">
  <link rel="stylesheet" href="/stylesheets/vendor/owl.carousel.min.css">
  <link rel="stylesheet" href="/stylesheets/vendor/aos.css">
  <link rel="stylesheet" href="/stylesheets/vendor/mamba.css">
  <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>

  {{> topbar }}
  {{> header }}
  
  <main id="main">
    {{{ body }}}
  </main>

 {{> footer }}

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  
  <script src="/javascripts/vendor/jquery.min.js"></script>
  <script src="/javascripts/vendor/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/vendor/jquery.easing.min.js"></script>
  <script src="/javascripts/vendor/validate.js"></script>
  <script src="/javascripts/vendor/jquery.sticky.js"></script>
  <script src="/javascripts/vendor/venobox.min.js"></script>
  <script src="/javascripts/vendor/jquery.waypoints.min.js"></script>
  <script src="/javascripts/vendor/counterup.min.js"></script>
  <script src="/javascripts/vendor/owl.carousel.min.js"></script>
  <script src="/javascripts/vendor/isotope.pkgd.min.js"></script>
  <script src="/javascripts/vendor/isotope.pkgd.min.js"></script>
  <script src="/javascripts/vendor/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/javascripts/main.js"></script>

  <script src="/javascripts/custom.js"></script>

</body>

</html>