 <section id="colections" >
      <div class="container">
            <h2>Productos Destacados</h2>
            <hr style="margin-bottom:40px;">
            <div class="row">
                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                    <a href="#"><div class="pic"><img src="images/home/colection1.jpg" class="img-fluid" alt=""></div></a>
                    <div class="colection-info">
                        <h4>Bodas & Eventos</h4>
                    </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                    <a href="#"><div class="pic"><img src="images/home/colection2.jpg" class="img-fluid" alt=""></div></a>
                    <div class="colection-info">
                        <h4>Manualidades</h4>
                    </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                    <a href="#"><div class="pic"><img src="images/home/colection3.jpg" class="img-fluid" alt=""></div></a>
                    <div class="colection-info">
                        <h4>Accesorios</h4>
                    </div>
                    </div>
                </div>
                
                 <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                    <a href="#"><div class="pic"><img src="images/home/colection3.jpg" class="img-fluid" alt=""></div></a>
                    <div class="colection-info">
                        <h4>Accesorios</h4>
                    </div>
                    </div>
                </div>

            </div>
      </div>
</section>